/* Reset Css*/
:root {
  --background-color: #090e16;
  --icones-color: #ffffff;
  --cor-roda-avatar: #7b4ae2;
}

/*Reset Básico*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
  padding: 15px 7px;
  background-color: var(--background-color);
}
/*Início da estilização do header*/
header {
  background-color: transparent;
  .nav-mobile {
    display: flex;
    justify-content: center;
    gap: 1rem;
    .nav-mob-item {
      background-color: var(--icones-color);
      opacity: 0.5;
      border-radius: 50%;
      padding: 0.3rem;
    }

    .github {
      display: flex;
      align-items: flex-end;
    }
  }

  .nav-pc {
    display: none;
  }
}

/*Fim da estilização do header*/
/*Início da estilização do container do avatar*/

.container-avatar {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;

  .circulo {
    width: 220px;
    height: 220px;
    position: absolute;
    top: 0;
    background-color: var(--cor-roda-avatar);
    opacity: 0.2;
    border-radius: 50%;
    box-shadow: 0px 0px 89px -14px var(--cor-roda-avatar),
      0px 0px 47px -6px var(--cor-roda-avatar);
    z-index: 1;
    animation: gira-roda-avatar linear 30s 0s infinite;

    .item-avatar {
      background-color: var(--background-color);
      display: inline-block;
      padding: 0.4rem 0.5rem;
      position: absolute;
      border-radius: 50%;
      opacity: 1;
      i {
        color: var(--cor-roda-avatar);
        font-size: 1.5rem;
      }
    }

    .python {
      right: -12px;
      top: 50%;
    }

    .js {
      top: 0px;
      right: 25%;
    }

    .css {
      bottom: 10%;
      left: 0;
      padding: 0.4rem 0.6rem;
    }

    .html {
      top: 15%;
      left: 10%;
      padding: 0.4rem 0.6rem;
    }

    .git {
      bottom: 0;
      right: 16px;
    }
  }

  .avatar {
    display: flex;
    justify-content: center;
    z-index: 3;
    img {
      width: 60%;
      border-bottom-left-radius: 3rem;
      border-bottom-right-radius: 3rem;
    }
  }
}

@keyframes gira-roda-avatar {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
