@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap");
/* Reset Css*/
:root {
  --background-color: #f5f3f7;
  --icones-color: #9a73b5;
  --cor-principal: #61398f;
  --cor-principal-opacidade: rgba(97, 57, 143, 0.253);
  --cor-texto: #4a4a4a;
}

/*Reset Básico*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
  padding-top: 15px;
  background-color: var(--background-color);
}

/*Início da estilização do header*/
header {
  margin: 0 15px;
  background-color: transparent;
}
header .nav-mobile {
  display: flex;
  justify-content: center;
  gap: 1rem;
  /*Switch dark/luz*/
  /* actions */
  /*Fim switch Dark/Luz*/
}
header .nav-mobile .theme-switch {
  --toggle-size: 30px;
  /* the size is adjusted using font-size,
     this is not transform scale,
     so you can choose any size */
  --container-width: 2em;
  --container-height: 1em;
  --container-radius: 6.25em;
  /* radius 0 - minecraft mode :) */
  --container-light-bg: #3d7eae;
  --container-night-bg: #1d1f2c;
  --circle-container-diameter: 3.375em;
  --sun-moon-diameter: 1em;
  --sun-bg: #ecca2f;
  --moon-bg: #c4c9d1;
  --spot-color: #959db1;
  --circle-container-offset: calc(
    (var(--circle-container-diameter) - var(--container-height)) / 2 * -1
  );
  --stars-color: #fff;
  --clouds-color: #f3fdff;
  --back-clouds-color: #aacadf;
  --transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  --circle-transition: 0.3s cubic-bezier(0, -0.02, 0.35, 1.17);
}
header .nav-mobile .theme-switch,
header .nav-mobile .theme-switch *,
header .nav-mobile .theme-switch *::before,
header .nav-mobile .theme-switch *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--toggle-size);
}
header .nav-mobile .theme-switch__container {
  width: var(--container-width);
  height: var(--container-height);
  background-color: var(--container-light-bg);
  border-radius: var(--container-radius);
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  transition: var(--transition);
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header .nav-mobile .theme-switch__container::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--container-radius);
}
header .nav-mobile .theme-switch__checkbox {
  display: none;
}
header .nav-mobile .theme-switch__circle-container {
  width: var(--circle-container-diameter);
  height: var(--circle-container-diameter);
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: var(--circle-container-offset);
  top: var(--circle-container-offset);
  border-radius: var(--container-radius);
  box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
  display: flex;
  transition: var(--circle-transition);
  pointer-events: none;
}
header .nav-mobile .theme-switch__sun-moon-container {
  pointer-events: auto;
  position: relative;
  z-index: 2;
  width: var(--sun-moon-diameter);
  height: var(--sun-moon-diameter);
  margin: auto;
  border-radius: var(--container-radius);
  background-color: var(--sun-bg);
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
  filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  overflow: hidden;
  transition: var(--transition);
}
header .nav-mobile .theme-switch__moon {
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  background-color: var(--moon-bg);
  border-radius: inherit;
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
  transition: var(--transition);
  position: relative;
}
header .nav-mobile .theme-switch__spot {
  position: absolute;
  top: 0.75em;
  left: 0.312em;
  width: 0.75em;
  height: 0.75em;
  border-radius: var(--container-radius);
  background-color: var(--spot-color);
  box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
}
header .nav-mobile .theme-switch__spot:nth-of-type(2) {
  width: 0.375em;
  height: 0.375em;
  top: 0.937em;
  left: 1.375em;
}
header .nav-mobile .theme-switch__spot:nth-last-of-type(3) {
  width: 0.25em;
  height: 0.25em;
  top: 0.312em;
  left: 0.812em;
}
header .nav-mobile .theme-switch__clouds {
  width: 1.25em;
  height: 1.25em;
  background-color: var(--clouds-color);
  border-radius: var(--container-radius);
  position: absolute;
  bottom: -0.625em;
  left: 0.312em;
  box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
  transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
}
header .nav-mobile .theme-switch__stars-container {
  position: absolute;
  color: var(--stars-color);
  top: -100%;
  left: 0.312em;
  width: 2.75em;
  height: auto;
  transition: var(--transition);
}
header .nav-mobile .theme-switch__checkbox:checked + .theme-switch__container {
  background-color: var(--container-night-bg);
}
header .nav-mobile .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container {
  left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
}
header .nav-mobile .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container:hover {
  left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em);
}
header .nav-mobile .theme-switch__circle-container:hover {
  left: calc(var(--circle-container-offset) + 0.187em);
}
header .nav-mobile .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__moon {
  transform: translate(0);
}
header .nav-mobile .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__clouds {
  bottom: -4.062em;
}
header .nav-mobile .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__stars-container {
  top: 50%;
  transform: translateY(-50%);
}
header .nav-mobile .nav-mob-item {
  background-color: var(--icones-color);
  opacity: 0.5;
  border-radius: 100%;
  padding: 0.3rem 0.4rem;
}
header .nav-mobile .nav-mob-item i {
  color: var(--background-color);
  font-size: 24px;
}
header .nav-mobile .nav-mob-item .linkedin {
  padding: 0.3rem calc(0.3rem + 4px);
}
header .nav-pc {
  display: none;
}

/*Fim da estilização do header*/
/*Início da estilização do container do avatar*/
.container-avatar {
  margin: 0 15px;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}
.container-avatar .circulo {
  width: 220px;
  height: 220px;
  position: absolute;
  top: 0;
  background-color: var(--cor-principal);
  opacity: 0.5;
  border-radius: 50%;
  box-shadow: 0px 0px 89px -14px var(--cor-principal), 0px 0px 47px -6px var(--cor-principal);
  z-index: 1;
  animation: gira-roda-avatar linear 30s 0s infinite;
}
.container-avatar .circulo .item-avatar {
  background-color: var(--background-color);
  display: inline-block;
  padding: 0.4rem 0.5rem;
  position: absolute;
  border-radius: 50%;
  opacity: 1;
}
.container-avatar .circulo .item-avatar i {
  color: var(--cor-principal);
  font-size: 1.5rem;
}
.container-avatar .circulo .python {
  right: -12px;
  top: 50%;
}
.container-avatar .circulo .js {
  top: 0px;
  right: 25%;
}
.container-avatar .circulo .css {
  bottom: 10%;
  left: 0;
  padding: 0.4rem 0.6rem;
}
.container-avatar .circulo .html {
  top: 15%;
  left: 10%;
  padding: 0.4rem 0.6rem;
}
.container-avatar .circulo .git {
  bottom: 0;
  right: 16px;
}
.container-avatar .avatar {
  display: flex;
  justify-content: center;
  z-index: 3;
}
.container-avatar .avatar img {
  width: 60%;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.section-saudacao {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}
.section-saudacao .txt-saudacao {
  color: var(--cor-principal);
  background-color: var(--cor-principal-opacidade);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid var(--cor-principal);
  border-radius: 0.3rem;
}
.section-saudacao .txt-saudacao i {
  font-size: 1.3rem;
  text-shadow: 0px 0px 3px var(--cor-principal);
}
.section-saudacao .txt-saudacao h6 {
  font-size: 1rem;
  font-weight: 900;
}
.section-saudacao .nome-saudacao h1 {
  color: var(--cor-texto);
  font-weight: 800;
  font-size: 2.7rem;
}
.section-saudacao .area-atuacao h3 {
  font-size: 1.2rem;
  color: var(--cor-texto);
  opacity: 0.5;
  font-weight: 400;
}
.section-saudacao .baixa-cv_wpp {
  margin-top: 1.5rem;
  display: flex;
  color: #7b4ae2;
  align-items: center;
  font-weight: 600;
  font-size: 0.98rem;
  flex-wrap: wrap;
  gap: 1rem;
}
.section-saudacao .baixa-cv_wpp .baixa-cv {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s;
}
.section-saudacao .baixa-cv_wpp .baixa-cv:hover {
  opacity: 1;
}
.section-saudacao .baixa-cv_wpp .wpp {
  opacity: 0.5;
  padding: 0.5rem;
  border: 1px solid var(--cor-principal);
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s;
}
.section-saudacao .baixa-cv_wpp .wpp:hover {
  opacity: 1;
}

.experiencia {
  margin: 4rem 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.experiencia .programador {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--cor-principal);
  border-radius: 7px;
  padding: 2rem;
  min-width: 184px;
  gap: 1rem;
  transition: 0.5s;
}
.experiencia .programador .icone-programador {
  position: relative;
}
.experiencia .programador .icone-programador .bolinha {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  right: 0;
  background-color: var(--cor-principal-opacidade);
}
.experiencia .programador .icone-programador i {
  opacity: 0.6;
  font-size: 2rem;
  color: var(--cor-principal);
}
.experiencia .programador .texto-programador {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--cor-texto);
  font-family: "Raleway", sans-serif;
  opacity: 0.7;
}
.experiencia .programador .texto-programador h3 {
  font-weight: 600;
}
.experiencia .programador .texto-programador h4 {
  font-size: 0.7rem;
  font-weight: 400;
}
.experiencia .trabalho {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--cor-principal);
  border-radius: 7px;
  min-width: 184px;
  padding: 2rem;
  gap: 1rem;
  transition: 0.5s;
}
.experiencia .trabalho .icone-trabalho {
  position: relative;
}
.experiencia .trabalho .icone-trabalho .bolinha {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--cor-principal-opacidade);
}
.experiencia .trabalho .icone-trabalho i {
  opacity: 0.6;
  font-size: 2rem;
  color: var(--cor-principal);
}
.experiencia .trabalho .texto-trabalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--cor-texto);
  font-family: "Raleway", sans-serif;
  opacity: 0.7;
}
.experiencia .trabalho .texto-trabalho h3 {
  font-weight: 600;
}
.experiencia .trabalho .texto-trabalho h4 {
  font-size: 0.7rem;
  font-weight: 400;
}
.experiencia .designer {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: column;
  min-width: 184px;
  align-items: center;
  border: 1px solid var(--cor-principal);
  border-radius: 7px;
  padding: 2rem;
  gap: 1rem;
  transition: 0.5s;
}
.experiencia .designer .icone-designer {
  position: relative;
}
.experiencia .designer .icone-designer .bolinha {
  position: absolute;
  width: 35px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--cor-principal-opacidade);
}
.experiencia .designer .icone-designer i {
  opacity: 0.6;
  font-size: 2rem;
  color: var(--cor-principal);
}
.experiencia .designer .texto-designer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--cor-texto);
  font-family: "Raleway", sans-serif;
  opacity: 0.7;
}
.experiencia .designer .texto-designer h3 {
  font-weight: 600;
}
.experiencia .designer .texto-designer h4 {
  font-size: 0.7rem;
  font-weight: 400;
}
.experiencia .box:hover {
  background-color: var(--cor-principal-opacidade);
}
.experiencia .box:hover .ic i {
  opacity: 1;
}
.experiencia .box:hover .tx {
  opacity: 1;
}

.sobre-mim {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: "Raleway", sans-serif;
  margin: 0 15px 5rem 15px;
}
.sobre-mim .sobre-mim-img img {
  border-radius: 100%;
  background-color: var(--cor-principal-opacidade);
}
.sobre-mim .sobre-mim-txt-nome .sobre-mim-nome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sobre-mim .sobre-mim-txt-nome .sobre-mim-nome .bloquinho-sobre-mim {
  color: var(--cor-principal);
  background-color: var(--cor-principal-opacidade);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid var(--cor-principal);
  border-radius: 0.3rem;
}
.sobre-mim .sobre-mim-txt-nome .sobre-mim-nome .bloquinho-sobre-mim i {
  font-size: 1.3rem;
  text-shadow: 0px 0px 3px var(--cor-principal);
}
.sobre-mim .sobre-mim-txt-nome .sobre-mim-nome .bloquinho-sobre-mim h6 {
  font-size: 1rem;
  font-weight: 900;
}
.sobre-mim .sobre-mim-txt-nome .nome-sobre-mim {
  color: var(--cor-texto);
}
.sobre-mim .sobre-mim-txt-nome .nome-sobre-mim h2 {
  font-weight: 800;
  font-size: 2.5rem;
}
.sobre-mim .sobre-mim-txt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 0.9;
}
.sobre-mim .sobre-mim-txt .texto-principal {
  text-indent: 7px;
  font-size: 0.95rem;
  color: var(--cor-texto);
  text-align: justify;
}
.sobre-mim .sobre-mim-txt .texto-principal b {
  color: var(--cor-principal);
}
.sobre-mim .sobre-mim-txt .texto-chamadinha {
  text-indent: 7px;
  font-size: 1rem;
  color: var(--cor-texto);
  text-align: justify;
}
.sobre-mim .sobre-mim-txt .texto-chamadinha i {
  font-size: 1.3rem;
  color: var(--cor-principal);
  text-shadow: 0px 0px 3px var(--cor-principal);
}
.sobre-mim .sobre-mim-txt .texto-chamadinha b {
  color: var(--cor-principal);
}

.portfolio-container {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 15px 5rem 15px;
}
.portfolio-container .titulo-portfolio {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.portfolio-container .titulo-portfolio .bloquinho-portfolio {
  color: var(--cor-principal);
  background-color: var(--cor-principal-opacidade);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid var(--cor-principal);
  border-radius: 0.3rem;
}
.portfolio-container .titulo-portfolio .bloquinho-portfolio i {
  font-size: 1.3rem;
  text-shadow: 0px 0px 3px var(--cor-principal);
}
.portfolio-container .titulo-portfolio .bloquinho-portfolio h6 {
  font-size: 1rem;
  font-weight: 900;
}
.portfolio-container .titulo-portfolio .projetos-trabalhos {
  color: var(--cor-texto);
}
.portfolio-container .titulo-portfolio .projetos-trabalhos h2 {
  font-weight: 800;
  font-size: 2rem;
}
.portfolio-container .filtro-carr-proj-btn-m {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.portfolio-container .filtro-carr-proj-btn-m .filtro-carr {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0.5rem;
}
.portfolio-container .filtro-carr-proj-btn-m .filtro-carr .filtro-btn {
  display: flex;
  gap: 0.7rem;
  color: var(--cor-principal);
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  border: 1px solid var(--cor-principal);
  transition: 0.5s;
}
.portfolio-container .filtro-carr-proj-btn-m .filtro-carr .filtro-btn i {
  font-size: 1.24rem;
  text-shadow: 0px 0px 3px var(--cor-principal);
}
.portfolio-container .filtro-carr-proj-btn-m .filtro-carr .filtro-btn p {
  opacity: 0.7;
}
.portfolio-container .filtro-carr-proj-btn-m .filtro-carr .filtro-btn:hover {
  background-color: var(--cor-principal-opacidade);
}
.portfolio-container .filtro-carr-proj-btn-m .filtro-carr .filtro-btn:hover p {
  opacity: 1;
}
.portfolio-container .filtro-carr-proj-btn-m .proj-carr-view {
  width: 100%;
  overflow-x: auto;
}
.portfolio-container .filtro-carr-proj-btn-m .proj-carr-view .proj-carr {
  display: flex;
  gap: 1rem;
}
.portfolio-container .filtro-carr-proj-btn-m .proj-carr-view .proj-carr .carr-item {
  cursor: pointer;
  border-radius: 15px;
  border: 2px solid var(--cor-principal);
  padding: 1rem;
  width: 250px;
}
.portfolio-container .filtro-carr-proj-btn-m .proj-carr-view .proj-carr .carr-item a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.portfolio-container .filtro-carr-proj-btn-m .proj-carr-view .proj-carr .carr-item .texto-item-carr {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--cor-texto);
}
.portfolio-container .filtro-carr-proj-btn-m .proj-carr-view .proj-carr .carr-item .texto-item-carr p {
  opacity: 0.5;
}
.portfolio-container .filtro-carr-proj-btn-m .proj-carr-view .proj-carr .carr-item .tecno-item-carr {
  display: flex;
  gap: 0.8rem;
}
.portfolio-container .filtro-carr-proj-btn-m .proj-carr-view .proj-carr .carr-item .tecno-item-carr .tecno-card {
  display: flex;
  gap: 0.4rem;
  padding: 0.5rem 0.7rem;
  background-color: var(--cor-principal-opacidade);
  font-weight: 700;
  color: var(--cor-principal);
  border-radius: 7px;
}
.portfolio-container .filtro-carr-proj-btn-m .proj-carr-view .proj-carr .carr-item .tecno-item-carr .tecno-card i {
  text-shadow: 0px 0px 3px var(--cor-principal);
}
.portfolio-container .filtro-carr-proj-btn-m .proj-carr-view .proj-carr .carr-item .img-item-carr img {
  border-radius: 10px;
}
.portfolio-container .filtro-carr-proj-btn-m .proj-carr-view .proj-carr .carr-item:hover {
  background-color: var(--cor-principal-opacidade);
}
.portfolio-container .filtro-carr-proj-btn-m .proj-carr-view .proj-carr .carr-item:hover .texto-item-carr p {
  opacity: 1;
}
.portfolio-container .filtro-carr-proj-btn-m .proj-carr-view::-webkit-scrollbar {
  display: none;
}
.portfolio-container .filtro-carr-proj-btn-m .btn-m {
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-end;
  border: 1px solid var(--cor-principal);
  padding: 0.6rem 1.1rem;
  border-radius: 5px;
}
.portfolio-container .filtro-carr-proj-btn-m .btn-m a {
  display: flex;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 0.78rem;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--cor-principal);
}
.portfolio-container .filtro-carr-proj-btn-m .btn-m:hover {
  background-color: var(--cor-principal-opacidade);
}

.habilidades {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 15px 5rem 15px;
}
.habilidades .titulo-habilidades {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.habilidades .titulo-habilidades .bloquinho-habilidades {
  color: var(--cor-principal);
  background-color: var(--cor-principal-opacidade);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid var(--cor-principal);
  border-radius: 0.3rem;
}
.habilidades .titulo-habilidades .bloquinho-habilidades i {
  font-size: 1.3rem;
  text-shadow: 0px 0px 3px var(--cor-principal);
}
.habilidades .titulo-habilidades .bloquinho-habilidades h6 {
  font-size: 1rem;
  font-weight: 900;
}
.habilidades .titulo-habilidades .tecnologias-habilidades {
  color: var(--cor-texto);
}
.habilidades .titulo-habilidades .tecnologias-habilidades h2 {
  font-weight: 800;
  font-size: 2rem;
}
.habilidades .linguagens {
  color: var(--cor-texto);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.habilidades .linguagens .conheco {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.habilidades .linguagens .conheco p {
  opacity: 0.6;
  font-size: 1.25rem;
}
.habilidades .linguagens .conheco .l-conheco-view {
  width: 100%;
  overflow-x: auto;
}
.habilidades .linguagens .conheco .l-conheco-view .l-conheco {
  display: flex;
  gap: 1rem;
}
.habilidades .linguagens .conheco .l-conheco-view .l-conheco i {
  transition: 0.5s;
  font-size: 3.5rem;
  color: var(--cor-principal);
  text-shadow: 0px 0px 3px var(--cor-principal);
  opacity: 0.5;
}
.habilidades .linguagens .conheco .l-conheco-view .l-conheco i:hover {
  opacity: 1;
}
.habilidades .linguagens .conheco .l-conheco-view::-webkit-scrollbar {
  display: none;
}
.habilidades .linguagens .vou-aprender {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.habilidades .linguagens .vou-aprender p {
  opacity: 0.6;
  font-size: 1.25rem;
}
.habilidades .linguagens .vou-aprender .l-vou-aprender-view {
  width: 100%;
  overflow-x: auto;
}
.habilidades .linguagens .vou-aprender .l-vou-aprender-view .l-vou-aprender {
  display: flex;
  gap: 1rem;
}
.habilidades .linguagens .vou-aprender .l-vou-aprender-view .l-vou-aprender i {
  transition: 0.5s;
  font-size: 3.5rem;
  color: var(--cor-principal);
  text-shadow: 0px 0px 3px var(--cor-principal);
  opacity: 0.5;
}
.habilidades .linguagens .vou-aprender .l-vou-aprender-view .l-vou-aprender i:hover {
  opacity: 1;
}
.habilidades .linguagens .vou-aprender .l-vou-aprender-view::-webkit-scrollbar {
  display: none;
}

.trajetoria {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 15px 5rem 15px;
}
.trajetoria .titulo-trajetoria {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.trajetoria .titulo-trajetoria .bloquinho-trajetoria {
  color: var(--cor-principal);
  background-color: var(--cor-principal-opacidade);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid var(--cor-principal);
  border-radius: 0.3rem;
}
.trajetoria .titulo-trajetoria .bloquinho-trajetoria i {
  font-size: 1.3rem;
  text-shadow: 0px 0px 3px var(--cor-principal);
}
.trajetoria .titulo-trajetoria .bloquinho-trajetoria h6 {
  font-size: 1rem;
  font-weight: 900;
}
.trajetoria .titulo-trajetoria .trajetoria-ate-aqui {
  color: var(--cor-texto);
}
.trajetoria .titulo-trajetoria .trajetoria-ate-aqui h2 {
  font-weight: 800;
  font-size: 2rem;
}
.trajetoria .area-profissional {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.trajetoria .area-profissional .titulo-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--cor-texto);
}
.trajetoria .area-profissional .titulo-data h3 {
  font-weight: 800;
  font-size: 1.5rem;
}
.trajetoria .area-profissional .titulo-data p {
  opacity: 0.6;
  font-size: 0.8rem;
}
.trajetoria .area-profissional .area-profissional-view {
  width: 100%;
  overflow-x: auto;
}
.trajetoria .area-profissional .area-profissional-view .area-profissional-carr {
  display: flex;
  gap: 1rem;
}
.trajetoria .area-profissional .area-profissional-view .area-profissional-carr .profissional-item {
  padding: 0.8rem;
  min-width: 280px;
  max-width: 280px;
  border: 1px solid var(--cor-principal);
  border-radius: 10px;
}
.trajetoria .area-profissional .area-profissional-view .area-profissional-carr .profissional-item .content {
  color: var(--cor-texto);
}
.trajetoria .area-profissional .area-profissional-view .area-profissional-carr .profissional-item .content h6 {
  font-size: 1.3rem;
  font-weight: 700;
}
.trajetoria .area-profissional .area-profissional-view .area-profissional-carr .profissional-item .content p {
  opacity: 0.6;
  font-size: 0.8rem;
}
.trajetoria .area-profissional .area-profissional-view .area-profissional-carr .profissional-item .periodo {
  display: flex;
  justify-content: space-between;
}
.trajetoria .area-profissional .area-profissional-view .area-profissional-carr .profissional-item .periodo .meses {
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--cor-principal);
}
.trajetoria .area-profissional .area-profissional-view .area-profissional-carr .profissional-item .periodo .data {
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--cor-principal);
}
.trajetoria .area-profissional .area-profissional-view::-webkit-scrollbar {
  display: none;
}
.trajetoria .area-academica {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.trajetoria .area-academica .titulo-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--cor-texto);
}
.trajetoria .area-academica .titulo-data h3 {
  font-weight: 800;
  font-size: 1.5rem;
}
.trajetoria .area-academica .titulo-data p {
  opacity: 0.6;
  font-size: 0.8rem;
}
.trajetoria .area-academica .area-academica-view {
  width: 100%;
  overflow-x: auto;
}
.trajetoria .area-academica .area-academica-view .area-academica-carr {
  display: flex;
  gap: 1rem;
}
.trajetoria .area-academica .area-academica-view .area-academica-carr .academico-item {
  padding: 0.8rem;
  min-width: 280px;
  max-width: 280px;
  border: 1px solid var(--cor-principal);
  border-radius: 10px;
}
.trajetoria .area-academica .area-academica-view .area-academica-carr .academico-item .content {
  color: var(--cor-texto);
}
.trajetoria .area-academica .area-academica-view .area-academica-carr .academico-item .content h6 {
  font-size: 1.3rem;
  font-weight: 700;
}
.trajetoria .area-academica .area-academica-view .area-academica-carr .academico-item .content p {
  opacity: 0.6;
  font-size: 0.8rem;
}
.trajetoria .area-academica .area-academica-view .area-academica-carr .academico-item .periodo {
  display: flex;
  justify-content: space-between;
}
.trajetoria .area-academica .area-academica-view .area-academica-carr .academico-item .periodo .meses {
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--cor-principal);
}
.trajetoria .area-academica .area-academica-view .area-academica-carr .academico-item .periodo .data {
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--cor-principal);
}
.trajetoria .area-academica .area-academica-view::-webkit-scrollbar {
  display: none;
}

.contato {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 15px 5rem 15px;
}
.contato .titulo-contato {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contato .titulo-contato .bloquinho-contato {
  color: var(--cor-principal);
  background-color: var(--cor-principal-opacidade);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid var(--cor-principal);
  border-radius: 0.3rem;
}
.contato .titulo-contato .bloquinho-contato i {
  font-size: 1.3rem;
  text-shadow: 0px 0px 3px var(--cor-principal);
}
.contato .titulo-contato .bloquinho-contato h6 {
  font-size: 1rem;
  font-weight: 900;
}
.contato .titulo-contato .entre-em-contato {
  color: var(--cor-texto);
}
.contato .titulo-contato .entre-em-contato h2 {
  font-weight: 800;
  font-size: 2rem;
}
.contato .me-contate {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contato .me-contate .wpp {
  width: -moz-fit-content;
  width: fit-content;
  color: var(--cor-principal);
  opacity: 0.5;
  padding: 0.5rem;
  border: 1px solid var(--cor-principal);
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s;
}
.contato .me-contate .wpp:hover {
  opacity: 1;
}
.contato .me-contate .email {
  color: var(--cor-principal);
}
.contato .me-contate .email i {
  font-size: 1.7rem;
  opacity: 0.5;
}
.contato .me-contate .email .copia-email h6 {
  font-size: 1.2rem;
  font-weight: 700;
}
.contato .me-contate .email .copia-email p {
  font-size: 1.1rem;
  color: var(--cor-texto);
}
.contato .me-contate .email .copia-email p i {
  color: var(--cor-principal);
  opacity: 0.5;
}
.contato .me-contate .email .copia-email p i:hover {
  opacity: 1;
}
.contato .me-contate .voltar-topo {
  color: var(--cor-principal);
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  gap: 1rem;
  opacity: 0.5;
}
.contato .me-contate .voltar-topo span {
  font-weight: 700;
}
.contato .me-contate .voltar-topo:hover {
  opacity: 1;
}

footer {
  font-family: "Raleway", sans-serif;
  align-items: center;
  padding: 1rem 0;
  background-color: var(--cor-principal-opacidade);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
footer .links .nav-mob-item {
  background-color: var(--icones-color);
  opacity: 0.5;
  border-radius: 100%;
  padding: 0.3rem 0.4rem;
}
footer .links .nav-mob-item i {
  color: var(--background-color);
  font-size: 24px;
}
footer .links .nav-mob-item .linkedin {
  padding: 0.3rem calc(0.3rem + 4px);
}
footer p {
  color: var(--cor-texto);
  opacity: 0.6;
  font-size: 0.9rem;
}

@keyframes gira-roda-avatar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=styles.css.map */